
<template data-template="todo_spa-book-front-page-data-menu-widget-main">
	<div class="todo_spa-book-front-page-data-menu-widget-main">
		<h2>{{title}}</h2>

		<div class="card_box">
			<nav class="card">
				<a href="{{dataDownloadRouteId}}">{{dataDownloadLink}}</a>
				<a href="{{dataUploadRouteId}}">{{dataUploadLink}}</a>
				<a href="{{dataEditRouteId}}">{{dataEditLink}}</a>
			</nav>
		</div>
	</div>
</template>