
<template data-template="todo_spa-book-front-page-category-edit-widget-main">
	<div class="todo_spa-book-front-page-category-edit-widget-main">
		<h2>{{title}}</h2>

		<div class="toolbar"></div>

		<div class="card_box">
			<form class="card" data-hook="category_edit_form">
				<input name="id" type="hidden" value="{{categoryId}}" />
				<label class="horizontal">
					<span>{{nameLabel}}</span>
					<input name="name" type="text" value="{{categoryName}}" required="required" />
				</label>
				<label class="horizontal">
					<span>{{slugLabel}}</span>
					<input name="slug" type="text" value="{{categorySlug}}" required="required" />
				</label>
				<input type="submit" value="{{submitButton}}" />
			</form>
		</div>
	</div>
</template>