
.todo_spa-book-front-page-data-upload-widget-main strong::after
{
	content: ':';
}

.todo_spa-book-front-page-data-upload-widget-main button
{
	display: block;
	margin: 1rem auto 0;
}

.todo_spa-book-front-page-data-upload-widget-main .second_phase_box
{
	margin-top: 3rem;
}

.todo_spa-book-front-page-data-upload-widget-main .second_phase_box button::after,
.todo_spa-book-front-page-data-upload-widget-main .second_phase_box button::before
{
	content: '↑';
}
