
<template data-template="todo_spa-book-front-page-category-list-widget-main">
	<div class="todo_spa-book-front-page-category-list-widget-main">
		<h2>{{title}}</h2>

		<div class="toolbar">
			<a href="{{categoryAddRouteId}}">{{addCategoryLink}}</a>
		</div>

		<div class="card_box">
			<div class="card">
				<ul data-hook="category_list">
				</ul>
			</div>
		</div>
	</div>
</template>