
<template data-template="todo_spa-book-front-page-settings-show-widget-main">
	<div class="todo_spa-book-front-page-settings-show-widget-main">
		<h2>{{title}}</h2>

		<div class="toolbar">
			<a href="{{settingsEditRouteId}}">{{settingsEditLink}}</a>
		</div>

		<table>
			<tbody>
				<tr>
					<th>{{userNameLabel}}</th>
					<td>{{userName}}</td>
				</tr>
				<tr>
					<th>{{deviceNameLabel}}</th>
					<td>{{deviceName}}</td>
				</tr>
				<tr>
					<th>{{serverUrlLabel}}</th>
					<td>{{serverUrl}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>