
<template data-template="todo_spa-book-front-page-data-edit-widget-main">
	<div class="todo_spa-book-front-page-data-edit-widget-main">
		<h2>{{title}}</h2>

		<div class="card_box">
			<form class="card" data-hook="data_edit_form">

			<label class="vertical">
				<span>{{dataLabel}}</span>
				<textarea name="data"></textarea>
			</label>

			<div>
				<button data-hook="beautify">Beautify</button>
				<input type="submit" value="{{submitButton}}" />
			</div>
		</div>
	</div>
</template>