
<template data-template="todo_spa-book-front-widget-footer">
	<div class="todo_spa-book-front-widget-footer">
		<a href="https://joanbotella.com">joanbotella.com</a>
		<span>{{appVersion}}</span>
	</div>
</template>