
.todo_spa-book-front-widget-footer
{
	background: linear-gradient(#f00, #c00 10%);
	text-align: center;
	padding: 0.25rem;
	font-size: 0.75rem;
	border-top: 1px solid black;
}

.todo_spa-book-front-widget-footer a
{
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 0px 2px #000;
}
.todo_spa-book-front-widget-footer a:hover
{
	text-decoration: underline;
	text-underline-offset: 4px;
}

.todo_spa-book-front-widget-footer span
{
	margin-left: 3rem;
}