.todo_spa-book-front-widget-breadcrumbs
{
	padding: 0.25rem 1rem;
	font-size: 0.75rem;
	color: #fff;
	background-color: #333;
	border-bottom: 1px solid #000;
}

.todo_spa-book-front-widget-breadcrumbs ol
{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.todo_spa-book-front-widget-breadcrumbs li
{
	margin-right: 0.5rem;
}

.todo_spa-book-front-widget-breadcrumbs li:not(:last-child)::after
{
	content: '>';
	margin-left: 0.5rem;
	color: #999;
}

.todo_spa-book-front-widget-breadcrumbs span
{
	color: #999;
}

.todo_spa-book-front-widget-breadcrumbs a
{
	color: #fff;
	text-decoration: none;
}

.todo_spa-book-front-widget-breadcrumbs a:hover
{
	text-decoration: underline;
}
