
<template style="display:none" data-template="todo_spa-book-front-page-task-edit-widget-main">
	<div class="todo_spa-book-front-page-task-edit-widget-main">
		<h2>{{title}}</h2>

		<div class="card_box">
			<form class="card" data-hook="task_edit_form">
				<input name="id" type="hidden" value="{{taskId}}" />
				<label class="horizontal">
					<span>{{nameLabel}}</span>
					<input name="name" type="text" value="{{taskName}}" required="required" />
				</label>
				<label class="horizontal">
					<span>{{slugLabel}}</span>
					<input name="slug" type="text" value="{{taskSlug}}" required="required" />
				</label>
				<label class="horizontal">
					<span>{{categoryLabel}}</span>
					<select name="category-id"></select>
				</label>
				<label class="horizontal">
					<input name="checked" type="checkbox" />
					<span>{{checkedLabel}}</span>
				</label>
				<input type="submit" value="{{submitButton}}" />
			</form>
		</div>
	</div>
</template>