
<template data-template="todo_spa-book-front-page-todo-add-widget-main">
	<div class="todo_spa-book-front-page-todo-add-widget-main">
		<h2>{{title}}</h2>

		<div class="card_box">
			<form class="card" data-hook="todo_add_form">
				<label class="horizontal">
					<span>{{nameLabel}}</span>
					<input name="name" type="text" required="required" />
				</label>
				<label class="horizontal">
					<span>{{slugLabel}}</span>
					<input name="slug" type="text" required="required" />
				</label>
				<input type="submit" value="{{submitButton}}" />
			</form>
		</div>
	</div>
</template>