
<template data-template="todo_spa-book-front-page-settings-edit-widget-main">
	<div class="todo_spa-book-front-page-settings-edit-widget-main">
		<h2>{{title}}</h2>

		<div class="card_box">
			<form class="card" data-hook="settings_edit_form">
				<input name="id" type="hidden" value="{{id}}" />
				<label class="horizontal">
					<span>{{userNameLabel}}</span>
					<input name="user_name" type="text" value="{{userName}}" required="required" />
				</label>
				<label class="horizontal">
					<span>{{deviceNameLabel}}</span>
					<input name="device_name" type="text" value="{{deviceName}}" required="required" />
				</label>
				<label class="horizontal">
					<span>{{serverUrlLabel}}</span>
					<input name="server_url" type="text" value="{{serverUrl}}" required="required" />
				</label>
				<input type="submit" value="{{submitButton}}" />
			</form>
		</div>
	</div>
</template>