
<template data-template="todo_spa-book-front-page-todo-list-widget-main">
	<div class="todo_spa-book-front-page-todo-list-widget-main">
		<h2>{{title}}</h2>

		<div class="toolbar">
			<a href="{{todoAddRouteId}}">{{addTodoLink}}</a>
		</div>

		<div class="card_box">
			<div class="card">
				<ul data-hook="todo_list"></ul>
			</div>
		</div>
	</div>
</template>