
<template data-template="todo_spa-book-front-page-task-list-widget-main">
	<div class="todo_spa-book-front-page-task-list-widget-main">
		<h2>{{title}}</h2>

		<div class="toolbar">
			<a href="{{taskAddRouteId}}">{{addTaskLink}}</a>
		</div>

		<div data-hook="task_lists_box" class="card_box"></div>
	</div>
</template>