
<template data-template="todo_spa-book-front-page-task-add-widget-main">
	<div class="todo_spa-book-front-page-task-add-widget-main">
		<h2>{{title}}</h2>

		<div class="card_box">
			<form class="card" data-hook="task_add_form">
				<label class="horizontal">
					<span>{{nameLabel}}</span>
					<input name="name" type="text" required="required" />
				</label>
				<label class="horizontal">
					<span>{{slugLabel}}</span>
					<input name="slug" type="text" required="required" />
				</label>
				<label class="horizontal">
					<span>{{categoryLabel}}</span>
					<select name="category-id"></select>
				</label>
				<label class="horizontal">
					<span>{{checkedLabel}}</span>
					<input name="checked" type="checkbox" />
				</label>
				<input type="submit" value="{{submitButton}}" />
			</form>
		</div>
	</div>
</template>