
<template data-template="todo_spa-book-front-page-data-download-widget-main">
	<div class="todo_spa-book-front-page-data-download-widget-main">
		<h2>{{title}}</h2>

		<div class="card_box">
			<div class="card">

				<div data-hook="first_phase_box" class="first_phase_box">
					<h3>Local</h3>
					<table>
						<tbody data-hook="local_tbody"></tbody>
					</table>
					<button data-hook="check_remote_data_button">{{checkRemoteDataButton}}</button>
				</div>

				<div data-hook="second_phase_box" class="second_phase_box">
					<h3>Remote</h3>
					<table>
						<tbody data-hook="remote_tbody"></tbody>
					</table>
					<button data-hook="download_remote_data_button">{{downloadRemoteDataButton}}</button>
				</div>

			</div>
		</div>

	</div>
</template>