
<template data-template="todo_spa-book-front-page-home-widget-main">
	<div class="todo_spa-book-front-page-home-widget-main">
		<h2>{{title}}</h2>

		<div class="card_box">
			<nav class="card">
				<a href="{{categoryListRouteId}}">{{categoryListLink}}</a>
				<a href="{{todoListRouteId}}">{{todoListLink}}</a>
				<a href="{{dataMenuRouteId}}">{{dataMenuLink}}</a>
				<a href="{{settingsShowRouteId}}">{{settingsShowLink}}</a>
				<a href="{{aboutRouteId}}">{{aboutLink}}</a>
			</nav>
		</div>
	</div>
</template>