
<template data-template="todo_spa-book-front-widget-layout">
	<div class="todo_spa-book-front-widget-layout">
		<header>
			<h1><a href="{{homeRouteId}}">{{title}}</a></h1>
		</header>

		<nav data-slot="breadcrumbs"></nav>

		<main data-slot="main"></main>

		<footer data-slot="footer"></footer>
	</div>
</template>