
.todo_spa-book-front-widget-layout
{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.todo_spa-book-front-widget-layout button,
.todo_spa-book-front-widget-layout [type="submit"]
{
	border-radius: 4px;
	border: 1px solid #000;
	padding: 0.25rem;
	font-size: 1rem;
	box-shadow: 0px 0px 2px #000;
	cursor: pointer;
	color: #fff;
}





.todo_spa-book-front-widget-layout header
{
	background: linear-gradient(#c00 90%, #900);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.25rem 1rem;
	border-bottom: 1px solid black;
}

.todo_spa-book-front-widget-layout h1
{
	margin: 0;
	font-size: 1rem;
	font-weight: normal;
	text-shadow: 1px 1px 1px #f00;
}
.todo_spa-book-front-widget-layout h1 a
{
	text-decoration: none;
	color: #000;
}
.todo_spa-book-front-widget-layout h1 a:hover
{
	color: #fff;
	text-shadow: 0 0 2px #000;
}

.todo_spa-book-front-widget-layout main
{
	flex-grow: 1;
	padding: 2rem 1rem 1rem 1rem;
	background: linear-gradient(135deg,#777 50%,#555);
	box-shadow: inset 0 0 8px #444;
}

.todo_spa-book-front-widget-layout h2
{
	margin: 0;
	text-shadow: 1px 1px #999;
	text-align: center;
}

.todo_spa-book-front-widget-layout .toolbar
{
	margin-top: 1rem;
	text-align: center;
}
.todo_spa-book-front-widget-layout .toolbar a
{
	color: #fff;
	text-decoration: none;
	margin: 0 0.5rem;
	text-shadow: 0px 0px 2px #000;
}
.todo_spa-book-front-widget-layout .toolbar a:hover
{
	text-decoration: underline;
	text-underline-offset: 4px;
}

.todo_spa-book-front-widget-layout button
{
	background: #00c;
}
.todo_spa-book-front-widget-layout button:hover
{
	background: #00f;
}


@media screen and (max-width: 400px)
{

	.todo_spa-book-front-widget-layout .header-and-nav
	{
		flex-direction: column;
	}

}










.todo_spa-book-front-widget-layout .card_box
{
	max-width: 500px;
	margin: auto;
}

.todo_spa-book-front-widget-layout .card
{
	border: 2px solid #000;
	border-radius: 5px;
	margin-top: 1rem;
	padding-top: 0;
	padding-bottom: 1rem;
	background: #333;
	color: #fff;
	box-shadow: 0 0 8px #444;
}
.todo_spa-book-front-widget-layout .card h3
{
	text-align: center;
	margin: 1rem 0 0;
	font-weight: normal;
	font-size: 1rem;
}
.todo_spa-book-front-widget-layout .card h3::before
{
	content: '- ';
}
.todo_spa-book-front-widget-layout .card h3::after
{
	content: ' -';
}
.todo_spa-book-front-widget-layout .card ul
{
	list-style: none;
	padding: 0;
	margin: 1rem 0 0;
}

.todo_spa-book-front-widget-layout .card li
{
	display: flex;
	align-items: center;
	border-radius: 5px;
}
.todo_spa-book-front-widget-layout .card li:hover
{
	outline: 2px dotted #666;
}

.todo_spa-book-front-widget-layout .card .name
{
	flex-grow: 1;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	cursor: pointer;
}
.todo_spa-book-front-widget-layout .card .name[data-checked="checked"]
{
	text-decoration:line-through;
	color: #777;
}

.todo_spa-book-front-widget-layout .card .actions
{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	display: flex;
	align-items: center;
}
.todo_spa-book-front-widget-layout .card .actions button
{
	background: #900;
}
.todo_spa-book-front-widget-layout .card .actions button:hover
{
	background: #c00;
}
.todo_spa-book-front-widget-layout .card .actions :not(:first-child)
{
	margin-left: 1rem;
}
.todo_spa-book-front-widget-layout .card a
{
	color: #66f;
	text-decoration: none;
	text-underline-offset: 4px;
	text-shadow: 0px 0px 2px #000;
}
.todo_spa-book-front-widget-layout .card a:hover
{
	text-decoration: underline;
}

.todo_spa-book-front-widget-layout .error_card
{
	padding: 1rem;
	text-align: justify;
}







.todo_spa-book-front-widget-layout nav.card
{
	display: flex;
	flex-direction: column;
}

.todo_spa-book-front-widget-layout nav.card a
{
	margin: 1rem 1rem 0 1rem;
	padding: 1rem;
	background: linear-gradient(#d00 1%, #c00 90%, #a00);

	color: #fff;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 0px 2px #000;

	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 0px 1px #444;
}

.todo_spa-book-front-widget-layout nav.card a:hover
{
	text-decoration: underline;
	text-underline-offset: 4px;
	background: linear-gradient(#e00 1%, #d00 90%, #b00);
}










.todo_spa-book-front-widget-layout table
{
	max-width: 500px;
	margin: 1rem auto 0;

	border: 2px solid #000;
	border-radius: 5px;
	background: #333;
	color: #fff;
	box-shadow: 0 0 8px #444;
}
.todo_spa-book-front-widget-layout th,
.todo_spa-book-front-widget-layout td
{
	padding: 0.5rem;
}
.todo_spa-book-front-widget-layout th
{
	text-align: right;
}
.todo_spa-book-front-widget-layout td
{
	line-break: anywhere;
}
.todo_spa-book-front-widget-layout th::after
{
	content: ':';
}


.todo_spa-book-front-widget-layout form
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.todo_spa-book-front-widget-layout label
{
	margin-top: 1rem;
	cursor: pointer;
}
.todo_spa-book-front-widget-layout label.horizontal
{
	display: flex;
}
.todo_spa-book-front-widget-layout label.horizontal span
{
	margin-right: 1rem;
}
.todo_spa-book-front-widget-layout label.vertical
{
	width: 100%;
}
.todo_spa-book-front-widget-layout label.vertical span
{
	display: block;
}
.todo_spa-book-front-widget-layout label.vertical textarea
{
	width: 99%;
	margin: auto;
	display: block;
}

.todo_spa-book-front-widget-layout [type="submit"]
{
	margin-top: 1rem;
	background: #090;
}
.todo_spa-book-front-widget-layout [type="submit"]:hover
{
	background: #0c0;
}



@media screen and (max-width: 400px)
{
	.todo_spa-book-front-widget-layout h2
	{
		text-align: center;
	}
	.todo_spa-book-front-widget-layout .card
	{
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
	.todo_spa-book-front-widget-layout .card .name
	{
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
	.todo_spa-book-front-widget-layout .card .actions
	{
		padding-right: 0.5rem;
	}
}

@media screen and (min-width: 401px)
{
	.todo_spa-book-front-widget-layout .card
	{
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.todo_spa-book-front-widget-layout .card .name
	{
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.todo_spa-book-front-widget-layout .card .actions
	{
		padding-right: 1rem;
	}
}
